
# Settings
/.vs
/.idea
/src/.vs
/src/.idea
team-2-hackathon2024.sln.DotSettings.user
/Packages
# Project files

/src/.vs
/src/*/bin
/src/*/obj

# Customization files

/cust/*/Bin

/*.zip

#Site Files
/BackUp
/Customization
/CarbonAccounting_23_2/*
!/CarbonAccounting_23_2/App_Data/
/CarbonAccounting_23_2/App_Data/*
!/CarbonAccounting_23_2/App_Data/SnapshotConfigs/
/CarbonAccounting_23_2/App_Data/SnapshotConfigs/*
!/CarbonAccounting_23_2/Content/
/CarbonAccounting_23_2/Content/*
!/CarbonAccounting_23_2/Content/svg_icons/
/CarbonAccounting_23_2/Content/svg_icons/*
!/CarbonAccounting_23_2/Content/svg_icons/LS*
!/CarbonAccounting_23_2/Pages
/CarbonAccounting_23_2/Pages/*
!/CarbonAccounting_23_2/Pages/LS
/Snapshots
/TemporaryAspFiles
