
# Settings
/.vs
/.idea
/src/.vs
/src/.idea
TemplateSolution.sln.DotSettings.user
/Packages
# Project files

/src/.vs
/src/*/bin
/src/*/obj

# Customization files

/cust/*/Bin

/*.zip

#Site Files
/BackUp
/Customization
/TemplateClient_TemplateVersionUnderscore/*
!/TemplateClient_TemplateVersionUnderscore/App_Data/
/TemplateClient_TemplateVersionUnderscore/App_Data/*
!/TemplateClient_TemplateVersionUnderscore/App_Data/SnapshotConfigs/
/TemplateClient_TemplateVersionUnderscore/App_Data/SnapshotConfigs/*
!/TemplateClient_TemplateVersionUnderscore/Content/
/TemplateClient_TemplateVersionUnderscore/Content/*
!/TemplateClient_TemplateVersionUnderscore/Content/svg_icons/
/TemplateClient_TemplateVersionUnderscore/Content/svg_icons/*
!/TemplateClient_TemplateVersionUnderscore/Content/svg_icons/LS*
!/TemplateClient_TemplateVersionUnderscore/Pages
/TemplateClient_TemplateVersionUnderscore/Pages/*
!/TemplateClient_TemplateVersionUnderscore/Pages/LS
/Snapshots
/TemporaryAspFiles
